.slider {
  padding: 56px 0 0 0;
  height: 428px;
  background-color: #1D232C;
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.slider-button {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.slider-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #282E37;
  margin: 0 0 56px 0;
  cursor: pointer;
}

.slider-bullet-active {
  width: 60px;
  height: 12px;
  border-radius: 6px;
  background-color: #E74C3C;
  margin: 0 0 56px 0;
  cursor: pointer;
}

